version: 2
jobs:
  test_python3:
    docker:
      - image: circleci/python:3

    steps:
      - checkout
      - run:
          name: test package
          command: make test

  test_python2:
    docker:
      - image: circleci/python:2

    steps:
      - checkout
      - run:
          name: test package
          command: make test
  dist_release:
    docker:
      - image: circleci/python:3
    steps:
      - checkout
      - run:
          name: install requirements
          command: sudo pip install -r requirements_dev.txt
      - run:
          name: make dist package
          command: make dist
      - run:
          name: release package to PyPI
          command: make release

workflows:
  version: 2
  test_and_dist:
    jobs:
      - test_python2
      - test_python3
      - dist_release:
          requires:
            - test_python2
            - test_python3
          filters:
            tags:
              only: /^v.*/
            branches:
              only: master
